# Cores
GREEN='\033[0;32m'
RED='\033[0;31m'
NC='\033[0m' # No Color

# Banco de Dados
DB_USER=root
DB_PASSWORD=root
DB_HOST=localhost
DB_PORT=3306

# PHP
PHP_VERSION=8.3

# NGINX
NGINX_AVALIABLE_DIR=/etc/nginx/sites-available
NGINX_ENABLED_DIR=/etc/nginx/sites-enabled
NGINX_ROOT_DIR=/var/www/domains

# HOSTS
HOSTS_FILE=/mnt/c/Windows/System32/drivers/etc/hosts
HOSTS_ACTIVE=false

# SSL
SSL_EMAIL=email@email.com
SSL_ACTIVE=false

